body {
  background-color: #ecfcff;
  color: #000f4d;
  padding-top: 5rem;
  font-family: Montserrat, Noto, Arial, sans-serif;
}

.main-container {
  width: 31.25rem;
  margin: auto;
}

.header {
  font-size: 5rem;
  width: 18rem;
  display: inline-block;
  overflow: hidden;
  float: left;
  font-family: Signika, sans-serif;
  font-weight: bold;
}

.score {
  background-color: #5edfff;
  color: #3e64ff;
  width: 5rem;
  font-size: 1.25rem;
  text-align: center;
  padding: 0.5rem 0.3rem 0.15rem;
  border-radius: 5px;
  overflow: hidden;
  font-weight: bolder;
  font-size: 0.8rem;
}

.score-digit {
  font-weight: 900;
  font-size: 1.5rem;
}

.above-game {
  clear: both;
  margin: 3rem 0;
}

.above-game-bold {
  font-weight: bold;
}

.new-game-btn {
  margin-left: 1rem;
  background: #3e64ff;
  color: #e6faff;
  width: 6rem;
  text-align: center;
  padding: 0.7rem 1rem;
  border-radius: 3.5px;
  font-weight: bold;:
}

.new-game-btn {
  cursor: pointer;
}

.num-block {
  margin: 1rem;
  width: 2rem;
  height: 1.5rem;
  text-align: center;
  padding: 3rem 2rem 2rem;
  border: solid 1px black;
  border-radius: 5px;
}

.game-container {
  position: absolute;
  height: 45rem;
  width: 29rem;
}

.instructions {
  position: absolute;
  bottom: 5rem;
}

.game {
  width: 29rem;
  height: 29rem;
  background: #c6d9ec;
  border-radius: 2%;
  border: 1rem solid #b3cce6;
  position: absolute;
}

.line-v {
  background: #b3cce6;
  position: relative;
  width: 1rem;
  height: 29rem;
}

.v1 {
  left: 6.5rem;
}

.v2 {
  left: 14rem;
  bottom: 29rem;
}

.v3 {
  left: 21.5rem;
  bottom: 58rem;
}

.line-h {
  background: #b3cce6;
  position: relative;
  width: 29rem;
  height: 1rem;
}

.h1 {
  bottom: 80.5rem;
}

.h2 {
  bottom: 74rem;
}

.h3 {
  bottom: 67.5rem;
}

.tile {
  width: 6.5rem;
  height: 5.45rem;
  background: #80aaff;
  margin-bottom: 5px;
  border-radius: 5%;
  text-align: center;
  font-size: 3.25rem;
  font-weight: bold;
  padding-top: 1.25rem;
  animation: appear 0.5s;
  position: absolute;
}

.three {
  background: #99ebff;
}

.six {
  background: #80aaff;
}

.one-two {
  background: #3377ff;
  color: #e6eeff;
}

.two-four {
  background: #0055ff;
  color: #e6eeff;
}

.four-eight {
  background: #0044cc;
  color: #e6eeff;
}

.nine-six {
  background: #003d99;
  color: #e6eeff;
}

.one-nine-two {
  background: #944dff;
  font-size: 2.85rem;
  height: 4.5;
  padding-top: 1.5rem;
}

.three-eight-four {
  background: #751aff;
  color: #e6eeff;
  font-size: 2.85rem;
  height: 4.5;
  padding-top: 1.5rem;
}

.seven-six-eight {
  background: #5c00e6;
  color: #e6eeff;
  font-size: 2.85rem;
  height: 4.5;
  padding-top: 1.5rem;
}

.one-five-three-six {
  background: #e600e6;
  color: #e6eeff;
  font-size: 2.6rem;
  height: 4.25;
  padding-top: 1.75rem;
}

.three-zero-seven-two {
  background: #1a1a1a;
  color: #e6eeff;
  font-size: 2.5rem;
  height: 4.25;
  padding-top: 1.75rem;
}

.response {
  width: 31rem;
  height: 18rem;
  opacity: 0.5;
  font-size: 5rem;
  text-align: center;
  font-weight: bolder;
  color: white;
  padding-top: 13rem;
  background: white;
}

.lose {
  background: #ff66cc;
}

.win {
  background: black;

}

@keyframes appear {
  from {transform: scale(0);}
  to {transform: scale(1);}
}
